header {

  .dropdown:hover {
    ul {
      display: block;
    }
  }

  nav {
    padding-left: 3% !important;
    padding-right: 3% !important;
    box-shadow: 5px 10px 30px #ccc;

    .navbar-toggler {
      background: #000;
    }

    &.fixed-top {
      border-top: 0;
      box-shadow: none;

      li {
        background: #000;
        @include md {
          background: transparent
        }
      }

      .navbar-toggler {
        // background: transparent;
      }

      a {
        color: #fff !important;
      }

    }

    border-top: 5px solid $color_secondary;

    .nav-link {

        @include xxl {
          padding-right: 1rem !important;
          padding-left: 1rem !important;
        }

      }

    .current-menu-item {

      position: relative;

      a {
        &:after {
          content: "";
          background: $color_secondary;
          height: 3px;
          width: 21px;
          position: absolute;
          bottom: 5px;
          left: 15px;
        }
      }



    }

    a {
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      transition: .5s;
      text-align: center;
      font-weight: 500;
      letter-spacing: 1px;
      color: #000 !important;

      &:hover {
        color: $color_secondary !important;
      }

    }

  }

  .navbar-nav {
    font-family: 'Montserrat', sans-serif;
  }



  a.quote {
    background: $color_secondary;
    color: #fff !important;
    padding: 5px 10px;
    font-weight: 500;

    @include lg {
      padding: 5px 20px;
    }

    svg {
      margin-left: 5px;
      path {
        transition: .5s;
      }
    }

    &:hover {
      color: #000 !important;

      svg {
        path {
          fill: #000;
        }
      }



    }



  }

  .fixed-top {


    ul.social {
      // margin-top: 20px;
      padding: 0;
      margin: 0;
      li {

        display: inline-block;
        padding-right: 5px;
        @include lg {
          padding-right: 20px;
        }


        path {
          transition: .5s;
          fill: #fff;
        }

        &:hover {

          path {
            fill: $color_secondary;
          }

        }

      }



    }

  }

  ul.social {
    // margin-top: 20px;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      padding-right: 5px;
      @include lg {
        padding-right: 20px;
      }

      path {
        transition: .5s;
        fill: #000;
      }

      &:hover {

        path {
          fill: $color_secondary;
        }

      }

    }



  }


}

.page-home {
  .site-content {
    margin-top: 122px;

    @include md {
      margin-top: 0;
    }

  }
}
